//タイトル
a(href="index.html")
  h1 八代 翔
//ナビゲーション
nav
  ul.flexli
    li
      a(href="philosophy.html")
        span 哲学
    li
      a(href="creator.html")
        span 創作
    li
      a(href="skill.html")
        span 技術
