//タイトル
a(href="https://seginus.jp/creatio313/index.html")
  h1 八代 翔
//ナビゲーション
nav
  ul.flexli
    li
      a(href="https://seginus.jp/creatio313/philosophy.html")
        span 哲学
    li
      a(href="https://seginus.jp/creatio313/creator.html")
        span 創作
    li
      a(href="https://seginus.jp/creatio313/skill.html")
        span 技術
