- var title="八代翔公式HP：創作"
- var description = "八代翔の公式ホームページ：創作領域の紹介です。執筆活動、音楽活動、映画活動について掲載しています。"
- var keywords = "八代　翔,やしろしょう,Yashiroshow,足立区,クリエイター"

- var og_title = "八代翔公式HP：創作"
- var og_des = "八代翔の公式ホームページ：創作領域の紹介です。"

doctype html
html(lang="ja")
head
  include ./templates/_head.pug
body
  header
    include ./templates/_header.pug
  main
    //創作
    section#creator
      // クリエイター
      h2 創作
      p.subtitle 畢生思創
      div.container
        div.box#writebox
          h3 執筆活動
          p 10代から小説・随筆などの執筆活動を続けている。
          p 小説の分野では『折りたたみ傘』『さいごの感謝祭』でノースアジア大学文学賞受賞、『花園』で室生犀星文学賞を受賞した。
          a(href="novel_index.html")
            p 作品一覧
        div.box#musicbox
          h3 音楽活動
          p 10代から合唱、オカリナ演奏等を嗜む。
          p 20代からはギターによる弾き語りを開始し、ライブ出演やオープンマイクイベントの企画などを行う。
          p 現在はDTMによる映画用の主題歌・サウンドトラックスの制作も行っている。
        div.box#moviebox
          h3 映画制作
          p 2013年から映画制作を開始。
          p 2014年からは映画制作団体Studio-seginusを立ち上げ、長編映画を多数手がけた。
          p 2024年10月に引退作品となる『未完成』を発表した。
          a(href="https://seginus.jp")
            p 詳細はStudio-seginusHPにて
    img#creation(src="images/creat.png" alt="八代翔、ギターとともに")
