- var title="八代翔公式HP"
- var description = "「畢生思創」を信条に活動する哲学者・クリエイター、八代翔のホームページです。八代翔の領域や情報に始まり、代表を務めるStudio-seginusの紹介も。制作情報のほかには、専門の哲学について、支持する思想の紹介もあります。業務領域や保有資格・スキルもご覧いただけます。"
- var keywords = "八代　翔,やしろしょう,Yashiroshow,足立区,クリエイター"

- var og_title = "八代翔公式HP"
- var og_des = "「畢生思創」を信条に活動する哲学者・クリエイター、八代翔の公式HPです。多岐にわたる活動を紹介しています。"

doctype html
html(lang="ja")
  head
    include ./templates/_head.pug
  body
    header
      include ./templates/_header.pug
    main
      //プロフィール
      section#profile
        div#prof_description
          figure
            img.rounded#prof_img(src="images/profile_color.avif" alt="八代翔肖像")
          p 東京都出身の哲学者・クリエイター
          p 「畢生思創」を信条に小説、映画、音楽と幅広い分野で創作活動を行っている。
          p 学問分野では哲学に関心を寄せており、大学時代にはドイツ思想を専攻した。ケルン大学哲学部に交換留学し、言語哲学にも触れた。