- var title="八代翔公式HP"
- var description = "――新しい『感動』をつくる――をモットーに制作活動を続けている、東京都出身のクリエイター、八代翔のホームページです。八代翔の領域や情報に始まり、監督を務めるStudio-seginusの紹介も。制作情報のほかには、専門の哲学について、支持する思想の紹介もあります。業務領域や保有資格・スキルもご覧いただけます。"
- var keywords = "八代　翔,やしろしょう,Yashiroshow,足立区,クリエイター"

- var og_title = "八代翔公式HP"
- var og_des = "東京都出身のクリエイター、八代翔の公式HPです。多岐にわたる活動を紹介しています。"

doctype html
head
  include ../tmp/_head.pug
body
  header
    include ../tmp/_header.pug
  main
    //プロフィール
    section#profile
      div#prof_description
        figure
          img.rounded#prof_img(src="images/profile_color.jpg" alt="プロフィール画像")
        p(data-i18n="description.profile1") 東京都出身のクリエイター
        p(data-i18n="description.profile2") 小説、映画、音楽と幅広い分野で創作活動を行っている。
        p(data-i18n="description.profile3") 学問分野では哲学に関心を寄せており、大学時代にはドイツ思想を専攻した。ケルン大学哲学部に交換留学し、言語哲学にも触れた。
        p(data-i18n="description.profile4") 現在はプログラマーとして働き、自己研鑽に励んでいる。
  script(type="text/javascript" src="js/main.js")
