- var title="八代翔公式HP：哲学"
- var description = "八代翔の公式ホームページ：哲学領域の紹介です。思想関係専門ページへのリンクも掲載しています。"
- var keywords = "八代　翔,やしろしょう,Yashiroshow,哲学,ドイツ哲学"

- var og_title = "八代翔公式HP：哲学"
- var og_des = "八代翔の公式ホームページ：哲学領域の紹介です。"

doctype html
html(lang="ja")
head
  include ./templates/_head.pug
body
  header
    include ./templates/_header.pug
  main
    //哲学
    section#philosophy
      h2 哲学
      p.subtitle 信を疑い、真を究む
      div.philodiv#philocar
        table
          tr
            th 出身校
            td 筑波大学人文・文化学群
          tr
            th 学位
            td 学士(人文学)
          tr
            th 専門領域
            td 分析哲学・道徳哲学
          tr
            th(rowspan="5") 関心対象
            td ウィーン学団
          tr
            td カルナップ
          tr
            td カント
          tr
            td ベンサム
          tr
            td ドーキンス
          tr
            th 学士論文
            td カント自殺論の妥当性についての検討